{% extends "base.html" %}

{% block content %}
    <h1>E-dictionary</h1>
    <p>Welcome to the place where you can learn new words!</p>

    <!-- Форма поиска -->
    <form method="GET" action="{% url 'medlexicon:word-list' %}">
        <input type="text" name="q" placeholder="Search words..." value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <h2>Dynamic content</h2>
    <p>The source has the following record counts:</p>
    <ul>
        <li><strong>Words:</strong> {{ num_words }}</li>
        <li><strong>Employees assigned:</strong> {{ num_workers }}</li>
        <li><strong>Categories:</strong> {{ num_categories }}</li>
    </ul>

    <p>You have visited this page
        {{ num_visits }} time{{ num_visits|pluralize }}.
    </p>
{% endblock %}
