{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete the worker "<strong>{{ worker.username }} ({{ worker.first_name }} {{ worker.last_name }})</strong>"?</p>

    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, delete</button>
      <a href="{% url "medlexicon:worker-detail" worker.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
{% endblock %}
