{% extends "base.html" %}

{% block content %}
    <h1>
      Employees List
      <a href="{% url 'medlexicon:worker-create' %}" class="btn btn-primary link-to-page">
        Create
      </a>
    </h1>

    {% if worker_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>active</th>
      </tr>
    {% for worker in worker_list %}
      <tr>
        <td>{{ worker.id }}</td>
        <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
        <td>{{ worker.first_name }}</td>
        <td>{{ worker.last_name }}</td>
        <td>{{ worker.is_active }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no worker in the service.</p>
    {% endif %}
{% endblock %}
