asgiref==3.8.1
beautifulsoup4==4.12.3
bootstrap4==0.1.0
crispy-bootstrap4==2024.1
dj-database-url==2.2.0
Django==5.1
django-bootstrap4==24.3
django-crispy-forms==2.3
django-debug-toolbar==4.4.6
gunicorn==23.0.0
packaging==24.1
psycopg==3.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
soupsieve==2.5
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
